/* Footer container */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 250px;
}

.footer-section h2 {
  color: aliceblue;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-section p {
  font-size: 1rem;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #09daff;
}

/* Social media icons */
.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00b1cc;
}

/* Footer bottom */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 1rem;
  margin: 0;
}